<%= form_with model: @user  do |form| %>
  <div style="background: radial-gradient(circle, rgba(223,157,186,1) 0%, rgba(178,148,184,1) 100%); height: 100vh;">
      <div style = "height: 55vh; width: 85vh; " class="col-md-6 offset-md-3">
          <div class = "container h-100 " style = "background: white; " >
              <div class = "row align-items-center h-100" >
                  <div class= "col" >
                      <h3 class="text-secondary">Registration</h3>
                      <div class = "row">
                          <div class = "col">
                              <%= form.label :name, "Name", class: 'text-secondary small' %>
                              <%= form.text_field :name , placeholder: 'Enter your name', class: 'form-control form-control-sm rk '%>
                          </div>
                          <div class = 'col'>
                              <%= form.label :username, "Username" , class: ' text-secondary small' %>
                              <%= form.text_field :username, placeholder: 'Enter your username', class: ' rk form-control form-control-sm' %>
                          </div>
                      </div>
                      <div class= "row">
                          <div class= "col" style = "outline: none;">
                              <%= form.label :email, "Email", class: 'text-secondary small' %>
                              <%= form.email_field :email, placeholder: 'Enter your email' ,class: 'rk form-control form-control-sm' %>
                          </div>
                          <div class = "col">
                              <%= form.label :phone_number, "Phone Number", class: 'text-secondary small' %>
                              <%= form.text_field :phone_number , placeholder: 'Enter your number',class: ' rk form-control form-control-sm' %>
                          </div>
                      </div>
                      <div class= "row">
                          <div class= "col">
                              <%= form.label :password, "Password", class: 'text-secondary small' %>
                              <%= form.password_field :password, placeholder: 'Enter your password', class: ' rk form-control form-control-sm' %>
                          </div>
                          <div class = "col">
                              <%= form.label :confirm_password, "Confirm Password", class: 'text-secondary small' %>
                              <%= form.text_field :confirm_password, placeholder: 'Confirm your password', class: 'rk form-control form-control-sm' %>
                              <br>
                          </div>
                      </div>
                      
                      <div class='row'>
                          <div class= 'col'>
                              <%= form.label :gender, 'Gender', class: 'text-secondary' %>
                          </div>
                      </div>  
                      <div class = 'row'  > 
                          <div class = 'col' >
                              <%= form.radio_button :gender, "male" %>
                              <%= form.label :gender_male, "Male", class: 'text-secondary' %>
                          </div>
                          <div class= 'col'>    
                              <%= form.radio_button :gender, "female" %>
                              <%= form.label :gender_female, "Female", class: 'text-secondary' %>
                          </div>
                          <div class= 'col'>    
                              <%= form.radio_button :gender, "not_say" %>
                              <%= form.label :gender_not_say, "Prefer not to say", class: 'text-secondary' %>
                          </div>
                      </div> <br>
                      <div >
                          <%= form.submit "Register", class: 'custom-btn form-control form-control-sm' %>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>    
<% end %>