<%= form_with(model: @author, method: :post, url: '/sign_in', local: true) do |form| %>
  <%= javascript_include_tag 'rk' %>
  
      <div style="background: linear-gradient(135deg, rgba(114,182,229,1) 0%, rgba(143,116,195,1) 98%); height: 100vh;">
          <div style = "height: 70vh; width: 95vh; " class="col-md-6 offset-md-3 center-div ">
              <div class = "container h-100 " style = "background: white; " >
                  <div class = "row align-items-center h-100 p-3" >
                        <div class= "col" >
                          <h3 class="text-secondary">Log in </h3>
                          <div class= "row">
                              <div class= "col" style = "outline: none;">
                                  <%= form.label :email, "Email", class: 'medium' %>
                                  <%= form.email_field :email, placeholder: 'Enter your email' ,class: 'rk form-control  mt-1 mb-2 p-2' %>
                              </div>
                          </div>
                            <div class= "row">
                                <div class= "col">
                                  <%= form.label :password, "Password", class: 'medium' %>
                                  <%= form.password_field :password, placeholder: 'Enter your password', class: ' rk form-control mt-1 p-2' %>
                                </div>
                            </div>
                          
                            <div >
                                <%= form.submit "Submit", class: 'custom-btn form-control form-control-sm' %>
                            </div>
                          <div class ="row">
                                <%= link_to 'new registration', "/registration" %>
                          </div>
                        </div>
                      
                  </div>
              </div>
          </div>
      </div>    
  <% end %>
  