<h1>User Information</h1>

<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>
<%= link_to "Sign out", "/log_out", method: :delete %> <br>
<%= link_to ' create task', new_user_task_path(user_id: @user.id), method: :get %> <br>
<%= link_to 'view tasks', user_tasks_path(user_id: @user.id), method: :get %>
